
        #FirstPara {
            background-color: coral;
            color: darkblue;
            border: 2px solid black;
        }
        #SecondPara {
            background-color: rgb(76, 92, 128);
            color: rgb(153, 34, 13);
            /*red,green,blue=rgb*/
            border: 2px solid black;
        }
        #ThirdPara {
            background-color: rgba(214, 80, 80, 0.212);
            color: #0d28c4;
            /*hex colors that only for knowledge if uhh saw anywhere dont get nervous*/
            border: 2px solid black;
        }
                   
